---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Market",
    titleBottom: "Positioning",
    img: c1,
    alt: "Market Positioning",
    link: "/services/market-positioning",
  },
  {
    index: 2,
    titleTop: "Customer",
    titleBottom: "Acquisition",
    img: c2,
    alt: "Customer Acquisition",
    link: "/services/customer-acquisition",
  },
  {
    index: 3,
    titleTop: "Growth",
    titleBottom: "Strategy",
    img: c3,
    alt: "Growth Strategy",
    link: "/services/growth-strategy",
  },
  {
    index: 1,
    titleTop: "Content",
    titleBottom: "Marketing",
    img: c4,
    alt: "Content Marketing",
    link: "/services/content-marketing",
  },
  {
    index: 2,
    titleTop: "Strategic",
    titleBottom: "Partnerships",
    img: c5,
    alt: "Partnerships",
    link: "/services/partnerships",
  },
];

const description =
  "We help learntech companies reach schools, universities, and organizations through specialized growth services designed for the education technology sector";
---

<Section id="services">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid lg:grid-cols-2 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
